.header {
  border-bottom: 1px solid $anti-flash-white;

  &-wrap {
    padding: 15px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-logo {
    max-height: 60px;
  }

  &-wrap-small {
    padding: 10px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-logo-small {
    max-height: 40px;
  }

  .btn {
    padding-left:0.7rem;
    padding-right:0.7rem;
  }
}
