.hero {
  max-width: 900px;
  margin: 0 auto;

  &__image {
    img {
      @include img-fluid;
      text-align: center;
    }

    @include media-breakpoint-down(sm) {
      overflow: hidden;

      $overflow: 0;
      img {
        margin-left: -#{$overflow}vw;
        margin-right: -#{$overflow}vw;
        max-width: 100 + $overflow * 2 + vw;
      }
    }
  }

  &__cta {
    text-align: center;
    margin: 2rem 0;

    .btn + .btn {
      margin: 1rem;
    }
  }

  &__copy {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top:2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .h2 {
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: right;

        &::after {
          background-color: $anti-flash-white;
          content: '';
          display: inline-flex;
          height: 20px;
          margin-left: 20px;
          margin-right: 20px;
          width: 2px;
        }
      }
    }
  }
}
