.keynote-speakers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;

  .keynote-speaker {
    font-size: 1rem;
    padding: 2em 1em;
    @media (min-width: 610px) {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    &-photo {
      width: 200px;
      border-radius: 50%;
      border: solid 0.5em $june-black;
      display: block;
      margin: auto;
    }
    &-name {
      color: $june-red-light;
      background-color: $june-black;
      display: inline-block;
      text-transform: uppercase;
      padding: 0.5em 1em;
      transform: translateY(-2em);
      max-width: 300px;
      position: relative;
      border-radius: 0.5em;
    }
  }
}
