.player {
  background-color: #f0f0f0;
  

  &__video {
    // border: 2px solid purple;
  }

  &__container {
    max-width: 1920px;
    margin:auto;
    padding-top:1rem;
    padding-bottom:1rem;
  } 

  &__chat {
    display: flex;
    height: 100%;

    iframe {
      display: flex;
      height: 100%;

      @include media-breakpoint-down(md) {
        height: 350px;
      }
    }
  }
}
