@import 'variables';
@import 'mixin';
@import 'view';
@import 'timeline';
@import 'tracks';
@import 'track';
@import 'talk';
@import 'break';

.schedule {
  margin-top: 4rem;
  margin-bottom: 6rem;

  &__title {
    margin: 4rem 0 0.5rem;
    text-align: center;
  }

  &__header {
    margin-top: 6rem;
    margin-bottom: 2rem;
  }

  .h1 {
    margin-bottom: 2rem;
  }

}
.schedule-timezone {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
