<div class="row">
    <div class="column">
        <img class= "image" src="assets/images/{{image}}"></img>
        <div class="container">
            <h6>{{Name}}</h6>
            <p class="title">{{Role}}</p>
            <p>{{Description}}
            </p>
            <div class="socials">
                <a href="https://www.facebook.com/{{facebook}}/" title="Facebook" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/facebook1.svg"></include>
                </a>
                <a href="https://twitter.com/{{twitter}}"  title="Twitter" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/twitter1.svg"></include>
                </a>
                <a href="https://www.linkedin.com/{{linkedin}}" title="LinkedIn" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/linkedin.svg"></include>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <img class= "image" src="assets/images/{{image}}"></img>
        <div class="container">
            <h6>{{Name}}</h6>
            <p class="title">{{Role}}</p>
            <p>{{Description}}
            </p>
            <div class="socials">
                <a href="https://www.facebook.com/{{facebook}}/" title="Facebook" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/facebook1.svg"></include>
                </a>
                <a href="https://twitter.com/{{twitter}}"  title="Twitter" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/twitter1.svg"></include>
                </a>
                <a href="https://www.linkedin.com/{{linkedin}}" title="LinkedIn" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/linkedin.svg"></include>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <img class= "image" src="assets/images/{{image}}"></img>
        <div class="container">
            <h6>{{Name}}</h6>
            <p class="title">{{Role}}</p>
            <p>{{Description}}
            </p>
            <div class="socials">
                <a href="https://www.facebook.com/{{facebook}}/" title="Facebook" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/facebook1.svg"></include>
                </a>
                <a href="https://twitter.com/{{twitter}}"  title="Twitter" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/twitter1.svg"></include>
                </a>
                <a href="https://www.linkedin.com/{{linkedin}}" title="LinkedIn" target="_blank" aria-label="link text - new window">
                    <include src="assets/images/linkedin.svg"></include>
                </a>
            </div>
        </div>
    </div>
    
</div>