<footer class="footer">
  <div class="footer-socials">
    <a href="https://twitter.com/juneteenthunl" title="Twitter" target="_blank" aria-label="link text - new window">
      <include role="presentation" src="assets/images/twitter.svg"></include>
    </a>
    <a href="https://www.facebook.com/junteenthconf/" title="Facebook" target="_blank"
      aria-label="link text - new window">
      <include role="presentation" src="assets/images/facebook.svg"></include>
    </a>
    <a href="https://www.youtube.com/channel/UCbbgMoZpzSPu6nv1yysylHw" title="Youtube" target="_blank"
      aria-label="link text - new window">
      <include role="presentation" src="assets/images/youtube.svg"></include>
    </a>
    <a href="https://www.linkedin.com/company/juneteenthconf/" title="LinkedIn" target="_blank"
      aria-label="link text - new window">
      <include role="presentation" src="assets/images/linkedin.svg"></include>
    </a>
    <!--
    <a href="#" title="Instagram" target="_blank" aria-label="link text - new window">
      <include src="assets/images/instagram.svg"></include>
    </a>
    -->
  </div>
  <p>
    Artwork by <a href="https://www.havananguyen.com/">Havana Nguyen</a> <a href="https://twitter.com/havanatweets"
      title="Twitter" target="_blank" aria-label="link text - new window">
      <include role="presentation" src="assets/images/twitter.svg"></include>
    </a>
  </p>
  <p>
    ©Copyright 2020 <a href="https://juneteenthconf.com">JuneteenthConf, Unl</a>. All rights reserved.
  </p>
</footer>
