<footer class="footer">
  <div class="footer-socials">
    <a href="https://twitter.com/hashtag/juneteenthconf" target="_blank" title="Twitter">
      <include src="assets/images/twitter.svg"></include>
    </a>
    <!-- <a href="#" title="Facebook">
      <include src="assets/images/facebook.svg"></include>
    </a>
    <a href="#" title="Youtube">
      <include src="assets/images/youtube.svg"></include>
    </a>
    <a href="#" title="Instagram">
      <include src="assets/images/instagram.svg"></include>
    </a> -->
  </div>
  <p>
    ©Copyright 2020 <a href="https://juneteenthconf.com">JuneteenthConf, Unl</a>. All rights reserved.
  </p>
</footer>
