<header class="header">
  <div class="container-fluid">
    <div class="header-wrap">
      <div>
          <a href="index.html" title="JuneteenthConf" class="brand">
          <img src="assets/images/logo.png" />
        </a>
      </div>
      <div class="my-2 my-lg-0">
        <a href="coc.html" class="btn btn-primary my-2 my-sm-0">Code of Conduct</a>
        <a href="http://evt.to/udsmemow" target="_blank" class="btn btn-outline-dark my-2 my-sm-0">Calendar +</a>
      </div>
    </div>
  </div>
</header>
