<header class="header">
  <div class="container-fluid">
    <div class="header-wrap">
      <div>
        <a href="index.html" title="JuneteenthConf" class="brand">
          <img src="assets/images/logo.png" alt="Juneteenth Conference Logo." class="header-logo" />
        </a>
      </div>
      <div class="my-2 my-lg-0">
        <a href="" style="display:none" data-translation-link class="btn btn-outline-primary my-2 my-sm-0"
          target="_blank" aria-label="link text - new window">Subtitles and translation</a>
        <a href="coc.html" class="btn  my-2 my-sm-0">Code of Conduct</a>
      </div>
    </div>
  </div>
</header>
