<header class="header">
  <div class="container-fluid">
    <div class="header-wrap">
      <div>
        <a href="index.html" title="JuneteenthConf" class="brand">
          <img src="assets/images/logo.png" alt="Juneteenth Conference Logo." class="header-logo" />
        </a>
      </div>
      <div class="my-2 my-lg-0">
        <a href="register.html" class="btn  my-2 my-sm-0">Keep informed</a>
        <a href="http://opencollective.com/juneteenth-conference" class="btn  my-2 my-sm-0">Donate</a>
        <a href="speakers.html" class="btn">2020 Speakers</a>
        <a href="about.html" class="btn  my-2 my-sm-0">About Us</a>
        <a href="coc.html" class="btn  my-2 my-sm-0">Code of Conduct</a>
        <a href="juneteenth.html" class="btn btn-outline-dark my-2 my-sm-0">What is Juneteenth</a>
      </div>
    </div>
  </div>
</header>
