<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="stylesheet" href="assets/styles/main.scss" />
  <title>{{pagetitle}}</title>
  <meta name="description" content="The Mission of JuneteenthConf is to provide a judgement free space for underrepresented people in tech to learn and grow and to amplify their voices. To be a counterbalance to the biases, implicit or otherwise, that hold our industry and our society back." />

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{pagetitle}}" />
  <meta property="og:description" content="The Mission of JuneteenthConf is to provide a judgement free space for underrepresented people in tech to learn and grow and to amplify their voices. To be a counterbalance to the biases, implicit or otherwise, that hold our industry and our society back." />
  <meta property="og:url" content="/" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="1920" />
  <meta property="og:image:height" content="1080" />
  <meta property="twitter:card" content="summary" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33227866-25"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-33227866-25');
  </script>

</head>
