<header class="header">
  <div class="container-fluid">
    <div class="header-wrap-small">
      <div>
        <a href="index.html" title="JuneteenthConf" class="brand">
          <img src="assets/images/logo.png" alt="Juneteenth Conference Logo." class="header-logo-small" />
        </a>
      </div>
      <div class="my-2 my-lg-0">
        <a href="" style="display:none" data-translation-link class="btn btn-outline-primary my-2 my-sm-0"
          target="_blank" aria-label="link text - new window">Subtitles and translation</a>
        <a href="#schedulenav" class="btn  my-2 my-sm-0">Schedule & Speakers</a>
        <a href="about.html" class="btn  my-2 my-sm-0">About Us</a>
        <a href="coc.html" class="btn  my-2 my-sm-0">Code of Conduct</a>
        <a href="juneteenth.html" class="btn btn-outline-dark my-2 my-sm-0">What is Juneteenth</a>
      </div>
      <div class="my-2 my-lg-0">
        <p></p>
        <a href="juneteenth.html">
          <div id="Library"></div>
          <img class="juneteenth_banner"
                src="assets/images/juneteenth_banner.png"
                onmouseover="this.src='assets/images/juneteenth_banner_hover.png';"
                onmouseout="this.src='assets/images/juneteenth_banner.png';"
                alt="juneteenth_banner" style="width:100%">
        </a>
      </div>
    </div>
  </div>
</header>
