<section class="keynote-speakers">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 offset-md-2">
        <h2>Keynote speakers</h2>
        <ul class="keynote-speakers">
          <li class="keynote-speaker">
            <img src="assets/images/keynote-placeholders/01.jpeg" alt="" class="keynote-speaker-photo" />
            <p class="keynote-speaker-name">Keynote Speaker 1</p>
          </li>
          <li class="keynote-speaker">
            <img src="assets/images/keynote-placeholders/02.jpg" alt="" class="keynote-speaker-photo" />
            <p class="keynote-speaker-name">Keynote Speaker With A Very Long Name</p>
          </li>
          <li class="keynote-speaker">
            <img src="assets/images/keynote-placeholders/03.jpg" alt="" class="keynote-speaker-photo" />
            <p class="keynote-speaker-name">Keynote Speaker 3</p>
          </li>
          <li class="keynote-speaker">
            <img src="assets/images/keynote-placeholders/04.jpg" alt="" class="keynote-speaker-photo" />
            <p class="keynote-speaker-name">Keynote Speaker 4</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
