<section class="schedule">


  <div class="container">

    <div class="row">
      <div class="col">
        <h2 class="h1 schedule__title">Schedule</h2>
      </div>
    </div>
    <div class="schedule-timezone">
      <select name="timezone-select" id="timezone-select" class="custom-select"></select>
    </div>

    <div id="schedule-container"></div>
  </div>
</section>


<script id="schedule-template" type="text/x-handlebars-template">
  {{#each Days}}
    <div class="schedule__header">
      <h2 class="schedule__title">{{title}}</h2>
    </div>
    <div class="schedule-view">
      <div class="schedule-timeline" id="timeline-wrapper-{{id}}"></div>
      <div class="schedule-tracks" id="schedule-wrapper-{{id}}"></div>
    </div>
  {{/each}}
</script>



<script id="track-template" type="text/x-handlebars-template">

  <div class="schedule-track" data-schedule-track="{{id}}">

    <h2 class="schedule-track__title">Track<em>{{title}}</em></h2>
    <ul class="schedule-track__list">
    {{#each talks}}
      {{#if isBreak}}
      <li class="schedule-break" style="height: {{height}}px;">
        <span class="sr-only">Break</span>
      </li>
      {{else}}
      <li class="schedule-talk" style="height: {{height}}px;">
        <a href="#talk-{{id}}" data-toggle="modal" class="schedule-talk-item">
          {{#if smallBlock}}
            <div class="smallTitle">
              <h3>{{title}}</h3>
            </div>
          {{else}}
            <h3>{{title}}</h3>
            {{#if multipleSpeakers}}
            <div class="speaker">
              {{#each speakers}}
              <img src="/assets/images/{{id}}.jpg" alt="{{fullName}}" class="speaker-avatar">
              {{/each}}
              <div class="speaker-body">
                <strong>Multiple speakers</strong>
                <div class="timeframe">
                  <time title="Talk starts at" datetime="{{startsAt}}" data-talk-timestamp="ddd Do MMM HH:mm"></time>
                  -
                  <time title="Talk ends at" datetime="{{endsAt}}" data-talk-timestamp="HH:mm"></time>
                </div>
              </div>
            </div>
            {{else}}
            <div class="speaker">
              {{#each speakers}}
              <img src="/assets/images/{{id}}.jpg" alt="{{fullName}}" class="speaker-avatar">
              <div class="speaker-body">
                <strong>{{fullName}}</strong>
              {{/each}}
                <div class="timeframe">
                  <time title="Talk starts at" datetime="{{startsAt}}" data-talk-timestamp="ddd Do MMM HH:mm"></time>
                  -
                  <time title="Talk ends at" datetime="{{endsAt}}" data-talk-timestamp="HH:mm"></time>
                </div>
              </div>
            </div>
            {{/if}}
          {{/if}}


        </a>
      </li>

      <div class="modal fade modal-track{{trackid}}" id="talk-{{id}}" tabindex="-1" role="dialog" aria-labelledby="talkModalLabel"
      aria-hidden="true" data-talk-modal="{{id}}">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
              <div class="row">
                <div class="col-lg-7">
                  <h5 class="modal-title" id="talkModalLabel">{{title}}</h5>
                  <div class="timeframe">
                    <include src="assets/images/clock.svg"></include>
                    <svg role="presentation" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                      <path role="presentation"  fill="#102942" d="M10,0 C4.47704545,0 0,4.47727273 0,10 C0,15.5229545 4.47704545,20 10,20 C15.5229545,20 20,15.5229545 20,10 C20,4.47727273 15.5229545,0 10,0 Z M10,18.1818182 C5.48136364,18.1818182 1.81818182,14.5188636 1.81818182,10 C1.81818182,5.48136364 5.48136364,1.81818182 10,1.81818182 C14.5186364,1.81818182 18.1818182,5.48136364 18.1818182,10 C18.1818182,14.5188636 14.5186364,18.1818182 10,18.1818182 Z M13.37,12.0845455 C13.725,12.4395455 13.725,13.0152273 13.37,13.3702273 C13.1927273,13.5475 12.9597727,13.6363636 12.7272727,13.6363636 C12.4947727,13.6365909 12.2620455,13.5477273 12.0845455,13.3702273 L9.35727273,10.6429545 C9.18681818,10.4725 9.09090909,10.2413636 9.09090909,10 L9.09090909,4.54545455 C9.09090909,4.04340909 9.49795455,3.63636364 10,3.63636364 C10.5020455,3.63636364 10.9090909,4.04340909 10.9090909,4.54545455 L10.9090909,9.62363636 L13.37,12.0845455 Z"/>
                    </svg>
                    <time title="Talk starts at" datetime="{{startsAt}}" data-talk-timestamp="ddd Do MMM YYYY HH:mm"></time>
                    -
                    <time title="Talk ends at" datetime="{{endsAt}}" data-talk-timestamp="HH:mm"></time>
                  </div>
                  <div class="description">
                    <p>
                      {{{description}}}
                    </p>
                  </div>
                  {{#if youtube}}
                  <a href="{{youtube}}" target="_blank" class="btn btn-secondary btn-next" aria-label="link text - new window">Play on YouTube</a>
                  {{else}}
                  <a href="https://www.addevent.com/dir/?client=aAsRvIjWGzeyNRVnMmup88049&start={{startsAt}}&duration=60&title={{title}}&timezone=UTC&description={{title}} by {{fullName}} Virtual Azure Community Day. Time is in UTC" target="_blank" class="btn btn-secondary" aria-label="link text - new window">+ Add to calendar</a>
                  {{/if}}
                </div>
                <div class="col-lg-4 offset-lg-1">

                  {{#each speakers}}

                  <div class="speaker">
                    <img src="/assets/images/{{id}}.jpg" alt="{{fullName}}" class="speaker-avatar">
                    <div class="speaker-body">
                      <strong>{{fullName}}</strong><br>
                      {{tagLine}}
                    </div>
                  </div>
                  <p class="bio">
                    {{{bio}}}
                  </p>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
    {{/each}}
    </ul>
  </div>
</script>

<script id="timeline-template" type="text/x-handlebars-template">
  <ul>
    {{#each item}}
    <li class="schedule-timeline__item">
      <time datetime="{{timestamp}}" data-talk-timestamp="HH:mm">{{time}}</time>
    </li>
    {{/each}}
  </ul>
</script>

<script id="timezone-template" type="text/x-handlebars-template">
  {{#each options}}
  <option value="{{@key}}">{{this}}</option>
  {{/each}}
</script>
