<section class="sponsors">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <h3>Sponsor through Eventbrite, sponsorship made possible by DC Tech Community Champions</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://dctechcommunitychampions.org/" target="_blank" class="sponsor">
          <img src="assets/images/devopsdays-dc.png" alt="DC Tech Community Champions logo">
        </a>
      </div>
    </div>
  </div>
</section>
