<section class="sponsors">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 offset-md-2">
        <h2 class="h1">Sponsors</h2>
        <p>
            <strong>
              You can donate to the event through <a href="https://www.eventbrite.com/e/juneteenthconf-tickets-109415067412"
              target="_blank" aria-label="link text - new window">Eventbrite</a>, made possible by <a href="https://dctechcommunitychampions.org/" target="_blank" aria-label="link text - new window">DC Tech
              Community Champions</a>
            </strong>
          </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://dctechcommunitychampions.org/" target="_blank" class="sponsor" aria-label="link text - new window">
          <img src="assets/images/devopsdays-dc.png" alt="DC Tech Community Champions logo">
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://www.thursday.cloud/" target="_blank" class="sponsor" aria-label="link text - new window">
          <img src="assets/images/thursday-cloud.jpg" alt="Thursday.Cloud foundations">
        </a>
      </div> 
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://developer.microsoft.com/" target="_blank" class="sponsor" aria-label="link text - new window">
          <img src="assets/images/microsoft-logo.png" alt="Microsoft">
        </a>
      </div>                
    </div>
  </div>
</section>
