<section class="sponsors">
  <a name="sponsorsnav" id="sponsorsnav"></a>
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 offset-md-2">
        <h2 class="h1">Sponsors</h2>
        <p>
            <strong>
              You can donate to the event through <a href="https://www.eventbrite.com/e/juneteenthconf-2020-retroactive-donations-tickets-110444267778"
              target="_blank" aria-label="link text - new window">Eventbrite</a>, made possible by <a href="https://dctechcommunitychampions.org/" target="_blank" aria-label="link text - new window">DC Tech
              Community Champions</a>
            </strong>
          </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://dctechcommunitychampions.org/" target="_blank" class="sponsor" aria-label="go to DC Tech Community Champions">
          <img src="assets/images/devopsdays-dc.png" alt="DC Tech Community Champions">
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://www.thursday.cloud/" target="_blank" class="sponsor" aria-label="go to Thursday.Cloud foundation">
          <img src="assets/images/thursday-cloud.jpg" alt="Thursday.Cloud foundations">
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://excella.com/" target="_blank" class="sponsor" aria-label="go to Excella">
          <img src="assets/images/Excella vertical red_black.png" alt="Excella">
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://blackcodecollective.com/" target="_blank" class="sponsor" aria-label="go to Black Code Collective">
          <img src="assets/images/blackCodeCollective.png" alt="Black Code Collective">
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://dotnetfoundation.org/" target="_blank" class="sponsor" aria-label="go to the .NET Foundation">
          <img src="assets/images/dotNetFoundation.svg" alt=".NET Foundation">
        </a>
      </div>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <a href="https://www.jetbrains.com/" target="_blank" class="sponsor" aria-label="go to Jetbrains">
          <img src="assets/images/jetbrains.png" alt="Jetbrains">
        </a>
      </div>      
    </div>
  </div>
</section>
